volume 100
# The default sound to play if item doesn't have a sound
default minecraft:random.pop

# Conditional
# Woody
if $DisplayName contains wood or $Id contains wood play dig.wood
if $DisplayName contains plank or $Id contains plank play dig.wood

# Metally
if $DisplayName contains ingot or $Id contains ingot play flair:metally
if $DisplayName contains iron or $Id contains iron play flair:metally
if $DisplayName contains gold or $Id contains gold play flair:metally

# Dusty
if $DisplayName contains sand or $Id contains sand play dig.sand
if $DisplayName contains dust or $Id contains dust play dig.sand
if $DisplayName contains powder or $Id contains powder play dig.sand

# Snowy
if $DisplayName contains snow or $Id contains snow play dig.snow

# Stony
if $DisplayName contains brick or $Id contains brick play dig.stone

# Leather
if $DisplayName contains leather or $Id contains leather play mob.horse.leather

# Crystally / Glassy
# if $DisplayName matches (?i)\bice.* or $Id matches (?i)\bice.* play flair:crystally
if $DisplayName contains ice or $Id contains ice play flair:crystally
if $DisplayName contains glass or $Id contains glass play flair:crystally
if $DisplayName contains crystal or $Id contains crystal play flair:crystally

# If an item is place-able then play it's sound when stepped on
# We have to place this lower than all the other ifs because this will always take power
if $BlockItem is true playblocksound step

# Specific
set noteblock play note.harp
set piston play play tile.piston.in
set sticky_piston play tile.piston.in
set chest play random.chestopen
set anvil play random.anvil_land
set fishing_rod play random.bow
set bone play mob.skeleton.step
set nether_star play random.orb
set fireworks play fireworks.launch
set shears play mob.sheep.shear
set lava_bucket play liquid.lavapop
set water_bucket play liquid.water

# Click
set lever play random.click
set dispenser play random.click
set wooden_button play random.click
set stone_button play.random.click
set powered_repeater play.random.click
set unpowered_repeater play.random.click
set powered_comparator play.random.click
set unpowered_comparator play.random.click

# Ignite
set flint_and_steel play fire.ignite
set fire_charge play fire.ignite


# Ding
set bow play random.bowhit
set arrow play random.bowhit

# Ew
set fish play mob.silverfish.step
set cooked_fished play mob.silverfish.step
set spider_eye play mob.silverfish.step
set fermented_spider_eye play mob.silverfish.step
set rotten_flesh play mob.silverfish.step

# Slosh
set slime_ball play mob.slime.small
set magma_cream play mob.slime.small

# Fire-y
set blaze_rod play fire.fire
set furnace play fire.fire

# Shing
set diamond_helmet play flair:shing
set chainmail_helmet play flair:shing
set golden_helmet play flair:shing
set iron_helmet play flair:shing

set diamond_chestplate play flair:shing
set chainmail_chestplate play flair:shing
set golden_chestplate play flair:shing
set iron_chestplate play flair:shing

set diamond_leggings play flair:shing
set chainmail_leggings play flair:shing
set golden_leggings play flair:shing
set iron_leggings play flair:shing

set diamond_boots play flair:shing
set chainmail_boots play flair:shing
set golden_boots play flair:shing
set iron_boots play flair:shing

# Crystally / Glassy
set diamond play flair:crystally
set emerald play flair:crystally
set potionitem play flair:crystally
set experience_bottle play flair:crystally
set glass_bottle play flair:crystally
set dye@4 play flair:crystally

# Metally
set diamond_block play flair:metally
set emerald_block play flair:metally
set gold_block play flair:metally
set lapis_block play flair:metally
set redstone_block play flair:metally
set cauldron play flair:metally
set hopper play flair:metally

# Woody
set stick play dig.wood
set bowl play dig.wood
set mushroom_stew play dig.wood
set boat play dig.wood

# Clothy
set string play dig.cloth
set feather play dig.cloth
set lead play dig.cloth

# Dusty
set sugar play dig.sand
set clay_ball play dig.sand
set gunpowder play dig.sand
set glowstone_dust play dig.sand
set redstone play dig.sand
set dye play dig.sand

# Grassy
set melon play dig.grass
set melon_seed play dig.grass
set speckled_melon play dig.grass
set wheat_seeds play dig.grass
set wheat play dig.grass
set reeds play dig.grass
set paper play dig.grass
set carrot play dig.grass
set potato play dig.grass

set saddle play mob.horse.leather