# <--- this is a comment, you can write whatever here,
# everything else needs to be very accurately typed, so try
# and copy the other settings!
# TUTORIAL IS AT THE BOTTOM, BUT FOR NOW LEARN BY SEEING, TWEAK THE DEFAULT OPTIONS OR COPY ETC.

# THIS IS THE GTNH CONFIG, IF YOU WANT TO USE IT, COPY PASTE EVERYTHING FROM IN HERE TO flair.config

# Whether to allow a sound to play over each other (Without it cuts a sound off when playing the same one)
# Default: Don't allow spam
# allowspam

# I'm sure you know what this means
# Default: 100
# volume 100

# The default sound to play if item doesn't have a sound
# Default: nothing
default item play dig.stone 0.6 1

# The default sound to play when crafting something
# Default: nothing
default craft play random.pop 1 1

# The default sound to play when dropping an item
# Default: nothing
default drop play random.pop 0.8 0.8

# The default sound to play when swinging your hand
# Default: nothing
default swing play flair:swing 1 1.25

# The default sound to play when typing something, the pitch is used as the starting pitch to scale upto 2
# Default: nothing
default typing play random.click 0.4 1.5

# The default sound to play when switching hotbar slots
# Default: the sound if there is one from `set item` / `default item`
default hotbar play random.click 0.3 1.5

# The default sound to play when opening the player inventory,
# when opening plays 1.5 when closing plays half of it so 0.75
# Default: nothing
default inventory play random.click 1 1.5

# Conditional
# Woody
if item $OreDict contains wood or $DisplayName contains wood play dig.wood
if item $OreDict contains plank or $DisplayName contains plank play dig.wood

# Metally
if item $DisplayName contains ingot or $Id contains ingot play flair:metally 0.4 1.5
if item $DisplayName contains iron or $Id contains iron play flair:metally 0.4 1.5
if item $DisplayName contains gold or $Id contains gold play flair:metally 0.4 1.5

# Dusty
if item $DisplayName contains sand or $Id contains sand play dig.sand
if item $DisplayName contains dust or $Id contains dust play dig.sand
if item $DisplayName contains powder or $Id contains powder play dig.sand

# Snowy
if item $DisplayName contains snow or $Id contains snow play dig.snow

# Stony
if item $DisplayName contains brick or $Id contains brick play dig.stone

# Leather
if item $DisplayName contains leather or $Id contains leather play mob.horse.leather

# Crystally / Glassy
if item $DisplayName contains ice or $Id contains ice play flair:crystally
if item $DisplayName contains glass or $Id contains glass play flair:crystally
if item $DisplayName contains crystal or $Id contains crystal play flair:crystally

# If an item is place-able then play it's sound when stepped on
# We have to place this lower than all the other ifs because this will always take power
if item $IsBlock is true playblocksound break

# Specific
set item minecraft:enchanted_book play random.levelup 0.3 2
set item noteblock play note.harp
set item piston play tile.piston.in 0.3
set item sticky_piston play tile.piston.in 0.3
set item anvil play random.anvil_land 0.1
set item fishing_rod play random.bow 0.5 2
set item bone play mob.skeleton.step
set item nether_star play random.orb
set item fireworks play fireworks.launch
set item shears play mob.sheep.shear
set item lava_bucket play liquid.lavapop
set item water_bucket play liquid.water

# Click
set item lever play random.click
set item dispenser play random.click
set item wooden_button play random.click
set item stone_button play random.click
set item repeater play random.click

# Ignite
set item flint_and_steel play fire.ignite
set item fire_charge play fire.ignite

# Ding
set item bow play random.bowhit 0.5 2
set item arrow play random.bowhit 0.5 2

# Ew
set item fish play mob.silverfish.step
set item cooked_fished play mob.silverfish.step
set item spider_eye play mob.silverfish.step
set item fermented_spider_eye play mob.silverfish.step
set item rotten_flesh play mob.silverfish.step

# Slosh
set item slime_ball play mob.slime.small
set item magma_cream play mob.slime.small

# Fire-y
set item blaze_rod play fire.fire
set item furnace play fire.fire 0.3 2

# Shing
set item diamond_helmet play flair:shing
set item chainmail_helmet play flair:shing
set item golden_helmet play flair:shing
set item iron_helmet play flair:shing

set item diamond_chestplate play flair:shing
set item chainmail_chestplate play flair:shing
set item golden_chestplate play flair:shing
set item iron_chestplate play flair:shing

set item diamond_leggings play flair:shing
set item chainmail_leggings play flair:shing
set item golden_leggings play flair:shing
set item iron_leggings play flair:shing

set item diamond_boots play flair:shing
set item chainmail_boots play flair:shing
set item golden_boots play flair:shing
set item iron_boots play flair:shing

# Crystally / Glassy
set item diamond play flair:crystally
set item emerald play flair:crystally
set item potion play flair:crystally
set item experience_bottle play flair:crystally
set item glass_bottle play flair:crystally
set item dye@4 play flair:crystally

# Metally
set item diamond_block play flair:metally 0.4 1.5
set item emerald_block play flair:metally 0.4 1.5
set item gold_block play flair:metally 0.4 1.5
set item lapis_block play flair:metally 0.4 1.5
set item redstone_block play flair:metally 0.4 1.5
set item cauldron play flair:metally 0.4 1.5
set item hopper play flair:metally 0.4 1.5

# Woody
set item bowl play dig.wood
set item mushroom_stew play dig.wood
set item boat play dig.wood

# Clothy
set item string play dig.cloth
set item feather play dig.cloth
set item lead play dig.cloth

# Dusty
set item sugar play dig.sand
set item clay_ball play dig.sand
set item gunpowder play dig.sand
set item glowstone_dust play dig.sand
set item redstone play dig.sand
set item dye play dig.sand

# Grassy
set item melon play dig.grass
set item melon_seeds play dig.grass
set item speckled_melon play dig.grass
set item wheat_seeds play dig.grass
set item wheat play dig.grass
set item reeds play dig.grass
set item paper play dig.grass
set item carrot play dig.grass
set item potato play dig.grass

set item saddle play mob.horse.leather

# Blocks

set block minecraft:unpowered_repeater@0 play random.click 1 0.8
set block minecraft:unpowered_repeater@4 play random.click 1 1
set block minecraft:unpowered_repeater@8 play random.click 1 1.2
set block minecraft:unpowered_repeater@12 play random.click 1 0.6

set block minecraft:powered_repeater@2 play random.click 1 0.8
set block minecraft:powered_repeater@6 play random.click 1 1
set block minecraft:powered_repeater@10 play random.click 1 1.2
set block minecraft:powered_repeater@14 play random.click 1 0.6

set block crafting_table play dig.wood
set block furnace play fire.fire 0.3 2
set block dispenser play random.click 0.75
set block dropper play random.click 0.75
set block anvil play random.anvil_land 0.35 2
set block minecraft:jukebox play random.click 1 1
set block minecraft:hopper play flair:metally 0.6 1.5
set block minecraft:enchanting_table play random.levelup 1 2
set block minecraft:beacon play random.levelup 1 2
set block minecraft:bed play mob.horse.leather 0.5 2
set block minecraft:flower_pot@0 play dig.grass 0.5 2

# GTNH
# ========================

# Conditional
# Shears
if item $DisplayName contains shears or $Id contains shears play mob.sheep.shear

# Tools
if item $IsBlock is false and $OreDict contains craftingTool play gravisuite:wrench 2 2

# Lasery
if item $DisplayName contains turret or $Id contains turret play openmodularturrets:laserHit 0.75 1.25

# Zap?
if item $DisplayName contains conduit or $Id contains conduit play thaumcraft:zap 0.5 1.75

# Tech
if item $DisplayName contains enchanted or $Id contains enchanted play thaumcraft:wand 1 2

# Tech
if item $DisplayName contains tectech or $Id contains tectech play tectech:fx_whooum 1 1.5
if item $DisplayName contains thaumicenergistics or $Id contains thaumicenergistics play tectech:fx_whooum 1 1.5
if item $DisplayName contains appliedenergistics or $Id contains appliedenergistics play tectech:fx_whooum 1 1.5
if item $DisplayName contains appliedenergistics or $Id contains appliedenergistics play tectech:fx_whooum 1 1.5
if item $DisplayName contains stargate play tectech:fx_whooum 1 1.5

# Steam
if item $DisplayName matches (?i).*(steam\b).*|(.*?\bboiler).* play railcraft:machine.steamburst 0.5 1.5

# Spray
if item $DisplayName contains spray or $Id contains spray play gregtech:items.spraycan_shake

# Anvil
if item $DisplayName contains anvil or $Id contains anvil play random.anvil_land 0.25

# Fishy
if item $OreDict contains fishRaw play mob.silverfish.step 2
if item $OreDict contains meatRaw play mob.silverfish.step 2
if item $DisplayName contains flesh or $Id contains flesh play mob.silverfish.step 2

# Bow
if item $DisplayName matches "(?i).*bow\b.*" play random.bowhit
if item $DisplayName matches "(?i).*arrow\b" play random.bowhit

# Grassy
if item $DisplayName contains wheat or $Id contains wheat play dig.grass
if item $DisplayName contains leaf or $Id contains leaf play dig.grass

# Woody
if item $OreDict contains wood play dig.wood
if item $OreDict contains plank play dig.wood

# Metally
if item $IsBlock is false and $DisplayName matches "(?i).*(quintuple).*(plate).*" play chisel:dig.metal 2 1
if item $IsBlock is false and $DisplayName matches "(?i).*(quadruple).*(plate).*" play chisel:dig.metal 2 1.25
if item $IsBlock is false and $DisplayName matches "(?i).*(triple).*(plate).*" play chisel:dig.metal 2 1.5
if item $IsBlock is false and $DisplayName matches "(?i).*(double).*(plate).*" play chisel:dig.metal 2 1.75
if item $OreDict contains plate play chisel:dig.metal 2 2
if item $OreDict contains ingot or $DisplayName contains ingot play chisel:dig.metal 2 2
set item SpiceOfLife:lunchbox play chisel:dig.metal 2 2

# Dusty
if item $DisplayName contains flour play dig.sand
if item $DisplayName contains ash play dig.sand
if item $DisplayName matches .*\bsand\b.* or $OreDict matches .*\bsand\b.* play dig.sand
if item $DisplayName contains powder or $OreDict contains powder play dig.sand
if item $DisplayName contains crushed or $OreDict contains crushed play dig.sand
if item $DisplayName contains dust or $OreDict contains dust play dig.sand

# Snowy
if item $DisplayName contains snow or $Id contains snow play dig.snow

# Stony
if item $DisplayName contains brick or $Id contains brick play dig.stone

# Clothy
if item $DisplayName contains wool play dig.cloth
if item $DisplayName contains string play dig.cloth

# Leather
if item $DisplayName contains leather or $Id contains leather play mob.horse.leather 0.75 1.5
if item $DisplayName contains backpack or $Id contains backpack play mob.horse.leather 0.75 1.5
if item $DisplayName contains bag or $Id contains bag play mob.horse.leather 0.75 1.5

# Paper
if item $DisplayName contains page or $Id contains page play openmodslib:pageturn 2
if item $DisplayName contains book or $Id contains book play openmodslib:pageturn 2
if item $DisplayName contains manual or $Id contains manual play openmodslib:pageturn 2
if item $DisplayName contains journal or $Id contains journal play openmodslib:pageturn 2

# Crystally / Glassy
if item $DisplayName contains glass or $Id contains glass play flair:crystally
if item $DisplayName contains crystal or $Id contains crystal play flair:crystally
if item $DisplayName contains jar or $Id contains jar play flair:crystally

# Slosh
set item ExtraBees:propolis play mob.slime.small

# Crystally / Glassy
set item Botania:monocle play flair:crystally

# Clothy
set item OpenBlocks:hangglider play dig.cloth

# Leather
set item miscutils:item.BasicMetaFood@8 play fire.fire

set item gregtech:gt.metaitem.01@32416 play flair:gigachad

# Blocks
if block $DisplayName matches ".*(pattern).*(chest).*" and $DisplayName contains chest play random.chestopen
if block $DisplayName matches "(?i).*(steam\b).*|(.*?\bboiler).*" play railcraft:machine.steamburst 0.5 1.5
if block $DisplayName contains furnace play fire.fire
if block $DisplayName contains drawer play dig.wood
if block $DisplayName contains crafting play gravisuite:wrench 1 1.5

set block Railcraft:machine.beta@0 play chisel:dig.metal
set block Railcraft:machine.alpha@14 play dig.wood
set block Railcraft:machine.alpha play dig.stone
set block TConstruct:Armor.DryingRack@5 play dig.wood
set block TConstruct:LavaTank play liquid.lavapop
set block TConstruct:ToolStationBlock@5 play random.chestopen
set block TConstruct:CraftingStation@0 play gravisuite:wrench 1 1.5
set block TConstruct:ToolStationBlock play gravisuite:wrench 1 1.5
set block TConstruct:ToolForgeBlock@0 play gravisuite:wrench 1 1.5
set block TConstruct:Smeltery play fire.fire 1 2
set block TConstruct:SearedBlock@1 play liquid.lavapop 1 1.25
set block IC2:blockKineticGenerator@0 play step.grass 1 1.5
set block IC2:blockKineticGenerator@1 play railcraft:machine.steamburst 0.5 1.5
set block IC2:blockKineticGenerator@2 play random.anvil_use 0.25 2
set block IC2:blockKineticGenerator@4 play liquid.water 1 2
set block IC2:blockKineticGenerator@5 play minecart.base 0.1 2
set block IC2:blockHeatGenerator@0 play fire.fire 0.5 2
set block IC2:blockHeatGenerator@1 play fire.fire 0.5 2
set block IC2:blockHeatGenerator@2 play thaumcraft:cameraticks 1 2
set block IC2:blockHeatGenerator@3 play fire.fire 0.5 2
set block IC2:blockGenerator@2 play liquid.water 1 2
set block IC2:blockPersonal@2 play computronics:ticket_print 0.1 1.5
set block IC2:blockPersonal@0 play galacticraftcore:player.unlockchest 1 1.5
set block IC2:blockMachine3@8 play stevescarts:gearswitch 0.3 1.5
set block IC2:blockMachine3@7 play dig.grass 0.5
set block IC2:blockMachine3@6 play stevescarts:gearswitch 0.3 1.5
set block IC2:blockMachine3@5 play computronics:ticket_print 0.1 1.5
set block IC2:blockMachine3@4 play computronics:ticket_print 0.1 1.5
set block IC2:blockMachine3@2 play tinker:little_saw 0.5 2
set block harvestcraft:apiary@0 play thaumcraft:fly 0.3 0.75
set block harvestcraft:animaltrap@0 play mob.pig.say 0.7
set block computronics:computronics.tapeReader play computronics:ticket_print 0.1 1.5
set block computronics:computronics.ticketMachine@3 play computronics:ticket_print 0.1 1.5

# Tutorial
# To get sounds, item names etc. I added some utility commands to run in game
# Like /flair config                   | to open this config
# /flair log sounds                    | to log all sounds playing around you to a file next to the config
# /flair find <approximate sound name> | to search for similar named sounds
# /flair play <approximate sound name> | to play the first similar named sound
# /flair hand                          | to tell you the item in your hand and copy it to clipboard
# /flair block                         | to tell you the block your looking at and copy it to clipboard

# Item IDs are formatted as follows <namespace:path@meta> so for lapis_lazuli it'd be 'minecraft:dye@4' (yes lapis_lazuli in Minecraft counts as dye number 4, minecraft moment)
# anything from minecraft you don't need to add minecraft:dye you can just do dye
# set item dye@4 play random.pop 1 1

# Each variable has available comparison methods like $DisplayName has [is, isnt, contains, matches]
# Example:
# if item $DisplayName is some_name play dig.wood
# if item $DisplayName isnt some_name play dig.wood
# if item $DisplayName contains some_name play dig.wood
# if item $DisplayName matches some_name play dig.wood

# Available commands:
# volume <volume>
# default <item|craft|drop|typing|inventory> <play sound type>
# allowspam
# if <item|block|craft|drop|swing> <variable> <comparison method> <your input> <play sound type>
# set <item|block|craft|drop|swing> <id> <play sound type>

# <item|block|craft|drop|swing>: whether to check for items, blocks, items crafted, items dropped, items swung

# All <variable>s:
# For Item: [$DisplayName, $Id, $OreDict, $Damage, $IsBlock]
# For Blocks: [$DisplayName, $Id, $BlockMeta, $HasEntity]

# Different <comparison_method> that <variable> accepts
# $DisplayName = [is, isnt, contains, matches]
# $Id = [is, isnt, contains, matches]
# $OreDict = [is, isnt, contains, matches]
# $Damage = [is, isnt]
# $IsBlock = [is, isnt]
# $BlockMeta = [is, isnt]
# $HasEntity = [is, isnt]

# All <comparison_method>s:
# is | pretty self explanatory
# isnt | also pretty self explanatory
# contains | checks if a word is in a DisplayName, Id etc.
# matches | basically a way more powered `contains`. To learn more it's java flavoured regex, `https://regexlearn.com/` (very powerful)
# Here's an example of how it can match Anything with "Ore" in its name but not match "More" `https://regex101.com/r/vww62m/3`

# All <play sound type>s:
# play <sound> <volume> <pitch>
# playblocksound <break|step> <volume> <pitch>